{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'styles/reset.css' %}">
		<link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
		<script src="https://kit.fontawesome.com/8e543a0707.js" crossorigin="anonymous"></script>
	</head>
	<body>
        <header>
            <h1>SearchTech</h1>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>