{% extends 'header.html' %}
{% block content %}

<ul class="tilesWrap">
	{% for ctd in contents %}
		<a href="/project/{{ctd.projectId}}">	
			<li>
				<h2>{{ctd.projectId}}</h2>
				<h3>{{ctd.title}}</h3>
				<button>Read more</button>
			</li>
		</a>
			
	{% endfor %}
</ul>
<footer>
	{% if num_page != 1 %}
	<a href="/{{prev_page}}">			
		<i class="fa-solid fa-circle-arrow-left navigation-arrows"></i>
	</a>
	{% endif %}
	Página {{num_page}} de {{total_pages}}
	{% if num_page != total_pages %}
	<a href="/{{next_page}}">
		<i class="fa-solid fa-circle-arrow-right navigation-arrows"></i>
	</a>
	{% endif %}
</footer>
{% endblock %}