ul li {
  margin-top: 5px;
}

.text_website {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.project_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.project_title h3 {
  font-size: 26px;
  color: #fff;
  width: 100%;
  border-radius: 3px;
  border-top: 3px solid;
  border-bottom: 3px solid;
  margin-bottom: 10px;
  border-image-source: linear-gradient(90deg, #16d9ac, #178bea);
  border-image-slice: 20;
  padding: 15px 50px 15px 50px;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.projectStatus {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  color: #fff;
}

.project_title .actions {
  font-size: 2em;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1.5em;
}

.detailsProject {
  display: flex;
}

.actionForm button {
  color: #fff;
  background-image: linear-gradient(90deg, #16d9ac, #178bea);
  background-color: #f3ec78;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
  background-color: #262a2b;
  max-width: 700px;
  min-width: 250px;
  border-radius: 3px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-image-source: linear-gradient(#16d9ac, #178bea);
  border-image-slice: 20;
  padding: 25px 50px 25px 50px;
  min-height: 250px;
  margin: 5px;
	font-size: 16px;
}

.description h3 {
  font-size: 20px;
}

.description p {
  font-size: 16px;
  text-align: justify;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
  background-color: #262a2b;
  max-width: 700px;
  min-width: 250px;
  border-radius: 3px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-image-source: linear-gradient(#16d9ac, #178bea);
  border-image-slice: 20;
  padding: 25px 50px 25px 50px;
  min-height: 250px;
  margin: 5px;
}

.benefits h3 {
  font-size: 20px;
}

.benefits p {
  font-size: 16px;
  text-align: justify;
}

.text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  font-size: 16px;
  color: #fff;
  justify-content: center;
}

.text ul {
  width: 230px;
  border-radius: 3px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-image-source: linear-gradient(#16d9ac, #178bea);
  border-image-slice: 20;
  padding: 10px;
  text-align: center;
}

.project_website {
  gap: 2em;
  font-size: 16px;
  color: rgb(74, 102, 226);
}

.comment_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  color: #fff;
  margin-bottom: 60px;
}

.commentForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #262a2b;

  border: double 3px transparent;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px #b4b4b4;
  border-radius: 16px;
  border-image-slice: 20;
  background-image: linear-gradient(#262a2b, #262a2b),
    linear-gradient(90deg, #16d9ac, #178bea);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.error_message{
  margin-top: 2px;
  padding-left: 20px;
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 20px;
  border: 1px solid #f5c6cb;
}

.comment_action{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#comment {
  display: flex;
  border-radius: 16px;
  background-color: #262a2b;
  flex-grow: 1;
  color: #fff;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 16px;
}

.add_comment {
  font-size: 4em;
  margin: 0.2em;
  height: 100%;
}

.comment_section > h3 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 10vh;
  gap: 0.5em;
}

.comment h3 {
  text-align: left;
  font-size: 26px;
  background-color: #262a2b;
  padding: 0.5em;
}

.comment p {
  font-size: 18px;
  padding: 1em 1.5em 1em 1.5em;
}

.comment h6 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 12px;
  border-bottom: #262a2b 3px solid;
}

@media screen and (max-width: 900px) {
  .detailsProject {
    display: block;
  }

  .project_title h3 {
    font-size: 20px;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin-bottom: 10px;
    border-image-source: linear-gradient(90deg, #16d9ac, #178bea);
    border-image-slice: 20;
    padding: 15px 50px 15px 50px;
    text-align: center;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    background-color: #262a2b;
    max-width: 700px;
    min-width: 250px;
    border-radius: 3px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-image-source: linear-gradient(#16d9ac, #178bea);
    border-image-slice: 20;
    padding: 25px 25px 25px 25px;
    min-height: 250px;
    margin: 5px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    background-color: #262a2b;
    max-width: 700px;
    min-width: 250px;
    border-radius: 3px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-image-source: linear-gradient(#16d9ac, #178bea);
    border-image-slice: 20;
    padding: 25px 25px 25px 25px;
    min-height: 250px;
    margin: 5px;
  }
}
