.project_title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 75px;    
}

.project_title .actions{
    font-size: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5em;    
    
    
    color: #fff;
	background-image: linear-gradient(90deg, #16d9ac, #178bea);
    background-color: #f3ec78;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.project_title h3 {
    font-size: 26px;
    color: #fff;
    border-radius: 3px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin-bottom: 20px;
    border-image-source: linear-gradient( 90deg, #16d9ac, #178bea);
    border-image-slice: 20;
    padding: 15px 50px 15px 50px;
    text-align: center;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    color: #fff;
    background-color: #262a2b;
    max-width: 700px;
    min-width: 250px;
    border-radius: 3px;
    border-left: 3px  solid;
    border-right: 3px solid;
    border-image-source: linear-gradient( #16d9ac, #178bea);
    border-image-slice: 20;
    padding: 25px 50px 25px 50px;
    min-height: 250px;
}

.description h3 {
    font-size: 20px;
}

.description p {
    font-size: 16px;
    text-align: justify;
}

.text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    font-size: 16px;
    color: #fff;
}


.add_comment{
    height: 100px;
    width: 100px;
    font-size: 4em;
    
    color: #fff;
	background-image: linear-gradient(90deg, #16d9ac, #178bea);
    background-color: #f3ec78;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}